:root {
    --primary-color: rgb(42, 93, 165); 
 }
 
 * {
     box-sizing: border-box;
 }
 
 body {
     font-family: "Inter", sans-serif;
     color: #282828;
     background-color: whitesmoke;
 }
 
 p {
     color: #484848;
 }
 
 .section {
     padding: 8rem 0;
 }
 
 .section.white {
     background-color: white;
 }
 
 .section-title {
     font-size: 45px;
     font-weight: 600;
     letter-spacing: .5px;
     text-align: center;
     line-height: 1;
     margin-top: 0;
     margin-bottom: 2em;
 }
 
 .section-title::first-letter {
     color:var(--primary-color);
 }
 

 
 /* HEADER */
 
 #header {
     position: relative;
     padding: 32px 0;
     background-color: white;
 }
 
 #header .logo {
     display: inline-block;
 }
 
 #nav {
     display: flex;
     gap: 0 32px;
     justify-content: end;
     align-items: center;
 }
 
 #nav .nav-item {
     color: black;
     padding: 2px;
     text-decoration: none;
 }
 
 #nav .nav-item:hover {
     text-decoration: line-through;
 }


 
 /*HERO*/
 .hero-caption {
     max-width: 595px;
     padding: 32px;
     margin-left: auto;
 }
 
 .hero-caption h1 {
     font-size: 50px;
     font-weight: 600;
     letter-spacing: 2px;
     margin: 0;
 }
 
 .hero-caption p {
     font-size: 20px;
     margin: 1.5em 0; /* 20px'in 1.5 katı kadar */
 }
 
 .hero-image {
     width: 100%;
     height: auto;
     display: block;
 }
 
 /* ABOUT */
 
 #about {
     max-width: 800px;
     text-align: center;
     margin: 0 auto;
     padding: 0 16px;
 }
 
 #about h4 {
     font-size: 32px;
     font-weight: 600;
     margin-top: -1.75em;
 }
 
 #about p {
     font-size: 18px;
     line-height: 1.6;
     margin: 0;
 }
 
 /* BLOG */
 .blog {
     margin: 8px 0;
     background-color: white;
 }
 
 .blog-content {
     padding: 24px;
 }
 
 .blog img {
     width: 100%;
     height: auto;
     display: block;
 }
 
 .blog h3 {
     font-weight: 600;
     margin: 0;
     line-height: 1.45;  /*yazı boyutunun 1.45 fazlası*/
 }
 
 .blog p {
     margin-top: 1em;
     margin-bottom: 1.5em;
     line-height: 1.45;
 }
 
 /* COMMENT */
 
 .comment {
     margin: 8px 0;
     padding: 32px;
     background-color: whitesmoke;
 }
 
 .comment img {
     display: inline-block;
     vertical-align: middle;
     border-radius: 50%;
 }
 
 .comment h3 {
     font-weight: 500;
     margin: 0 0 0 8px;
     display: inline-block;
 }
 
 .comment p {
     font-size: 18px;
     font-weight: 300;
     line-height: 1.5; /*satır yüksekliği*/
     margin-top: 0;
     margin-bottom: 1.5em;
 }
 
 /* FOOTER */
 #footer {
     padding: 40px 0;
     text-align: center;
     background-color: whitesmoke;
 }
 
 